h2 {
    color: blue;
    font-size: 26px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: italic;
}

p {
    font-size: 22px;
    font-family: fantasy;
    line-height: 1.5;
}

h3 {
    text-align: center;
}